{% extends 'base.html' %}
{% block title %}
Chat_App | Web_Socket
{% endblock title %}
{% block stylebody %}
.paragraph-div::-webkit-scrollbar {
    display: none;
  }
{% endblock stylebody%}
{% block content %}
  {% if user.is_authenticated %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                {% comment %} Below room is a url namespace...room_name is an view argument {% endcomment %}
                <form action="{% url 'chat:room' room_name %}" method="POST">
                    {% comment %} <form action="{% url 'chat:room' %}" method="POST"> {% endcomment %}
                    {% csrf_token %}
                    <div class="form-group">
                        <center >
                            <p style="background-color:#fff; border: 3px solid #000; width: auto; font-weight: bold; font-size:2rem; border-radius:1rem; margin: 30px; position:relative; padding:0.5rem;">
                                {{room_name}} - ROOM
                            </p>
                        </center>
                        {% comment %} flex-direction: column-reverse; ----- It will reverse the whole div (reverse the elements inside the div if you've removed flex-direction){% endcomment %}
                        <div class="paragraph-div" style="flex-direction: column-reverse; display: flex;  background-color: #fff;height:350px; overflow-y: auto;  border: 3px solid #000; border-radius: 1rem; padding:1rem;">
                            {% comment %} {% if img_url %}
                                <img width="300" style='border-radius:10px; border: 3px solid #99ffaa; max-height:100%; max-width:100%; object-fit: contain; margin-bottom:10px; margin-left:auto; margin-right:0;' src="data:image/jpeg;base64, {{ img_url }}" alt = 'test_img' >
                            {% endif %} {% endcomment %}
                            {% if images %}
                                {% for img in images %}
                                    <img width="300" style='border-radius:10px; border: 3px solid #99ffaa; max-height:100%; max-width:100%; object-fit: contain; margin-bottom:10px; margin-left:auto; margin-right:0;' src="data:image/jpeg;base64, {{ img.url }}" alt = 'test_img' >
                                {% endfor %}
                            {% endif %}
                            <p id="chat-text"></p>

                                {% for msg in all_messages %}
                                    {% if msg.user.id is request.user.id%}
                                        <p style='margin-bottom:10px; margin-left:auto; margin-right:0; background: #99ffaa; color: #000; width: fit-content; padding: 10px; border-radius: 1rem;'><strong style='color: #40489d'>{{msg.user.username | capfirst}}:</strong> {{msg.message}}</p>
                                    {% else %}
                                        <p style='margin-bottom:10px; background: #40489d; color: #fff; width: fit-content; padding: 10px; border-radius: 1rem;'><strong style='color: #99ffaa'>{{msg.user.username | capfirst}}:</strong> {{msg.message}}</p>
                                    {% endif %}
                                {% endfor %}


                                {% comment %}
                                    {% for img in all_images %}
                                        {% if img.user.id is request.user.id %}
                                            <p style='margin-bottom:10px; margin-left:auto; margin-right:0; background: #99ffaa; color: #000; width: fit-content; padding: 10px; border-radius: 1rem;'><strong style='color: #40489d'>{{img.user.username | capfirst}}:</strong> {{img.title}}</p>
                                            <img width="300" style='border-radius:10px; border: 3px solid #99ffaa; max-height:100%; max-width:100%; object-fit: contain; margin-bottom:10px; margin-left:auto; margin-right:0;' src="{{ img.image.url }}" alt="image" >
                                        {% else %}
                                            <p style='margin-bottom:10px; background: #40489d; color: #fff; width: fit-content; padding: 10px; border-radius: 1rem;'><strong style='color: #99ffaa'>{{img.user.username | capfirst}}:</strong> {{img.title}}</p>
                                            <img width="300" style='border-radius:10px; border: 3px solid #40489d; max-height:100%; max-width:100%; object-fit: contain; margin-bottom:3px;' src="{{ img.image.url}}" alt="image" >
                                        {% endif %}
                                    {% endfor %}
                                {% endcomment %}

                        </div>

                    </div>

                    <div class="form-group">
                        <input name="msg" class="form-control" style="height:60px; font-size: 20px;border: 3px solid #000; border-radius: 1rem;" id="input" type="text" placeholder="Enter your message here">
                    </div>
                    <center>
                        {% if room_name %}
                    <p style='margin-top: 10px; width:fit-content; color:#000; border-radius:1rem; background-color:#fff; padding:10px;' class="text-center"><a style='text-decoration: none' href="/chat/{{ room_name }}/upload">Upload Image</a></p>
                        {% endif %}
                    <button style="color: #000; width:250px; font-size:22px; border-radius: 1rem; border: 3px solid #000; font-weight: bold; background-color: #90CAF9; padding: 10px;" id="submit" type="submit">Send</button>
                    <center>
                </form>

            </div>
        </div>
    </div>
    {{ request.user.username|json_script:"user_username" }}
    {{ request.user.id|json_script:"user_id" }}
    {{ room_name|json_script:"room-name" }}
    {% else %}
        <center>
        <h1 style='background:#EF5350; margin: 50px; border-radius: 1rem; padding:1rem; width: fit-content; color: #fff;'>Please login and try again.</h1>
        <p style='margin-top: 10px; width:fit-content; color:#000; border-radius:1rem; background-color:#fff; padding:10px;' class="text-center">If you already have an account - <a style='text-decoration: none' href="/chat/signin">SignIn</a></p>
        <p style='margin-top: 10px; width:fit-content; color:#000; border-radius:1rem; background-color:#fff; padding:10px;' class="text-center">Don't have an account? <a style='text-decoration: none' href="/chat/signup">Signup</a></p>    
        </center>
    {% endif %}

    <script>
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        const user_id = JSON.parse(document.getElementById('user_id').textContent);
        document.querySelector('#submit').onclick = function (e) {
            e.preventDefault()
            //e.stopPropagation()

            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
                'user_id': user_id,
            }));
            messageInputDom.value = '';
        };

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        // if we want to turn an json string to object then we use parse. It will convert the json string to key value pair.
        
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chatt/' +
            roomName +
            '/'
        );

        chatSocket.onmessage = function (a) {
            const data = JSON.parse(a.data);
            console.log(data)
            document.querySelector('#chat-text').innerHTML += ( 
                data.username ?
                "<p style='margin-bottom:10px; margin-left:auto; margin-right:0; background: #99ffaa; color: #000; width: fit-content; padding: 10px; border-radius: 1rem; '><strong style='color: #40489d'>" + data.username.charAt(0).toUpperCase() + data.username.slice(1)  + ': '+ "</strong>" + data.message + "</p>"
                :
                "Anonymous: " + data.message.toString() + "\n"
                )
        }

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



    <!-- Optional JavaScript -->    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
{% endblock content %}