@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

body {
  background-color: blanchedalmond;
  font-family: "Poppins", sans-serif;
}

.paragraph-div {
  flex-direction: column-reverse;
  display: flex;
  background-color: #fff;
  height: 350px;
  overflow-y: auto;
  border: 3px solid #2e2e2e;
  border-radius: 1rem;
  padding: 1rem;
}
.paragraph-div::-webkit-scrollbar {
  display: none;
}

.user-message {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: 0;
  background: #99ffaa;
  color: #2e2e2e;
  width: fit-content;
  padding: 10px;
  border-radius: 1rem;
}
.user-message .name {
  color: #40489d;
  font-weight: 800;
}
.user-img {
  margin-left: auto;
  margin-right: 0;
  border-radius: 10px;
  border: 3px solid #99ffaa;
  max-height: 100%;
  max-width: 300px;
  object-fit: contain;
  margin-bottom: 3px;
}

.others-message {
  margin-bottom: 10px;
  background: #40489d;
  color: #fff;
  width: fit-content;
  padding: 10px;
  border-radius: 1rem;
}
.others-message .name {
  color: #99ffaa;
  font-weight: 800;
}
.others-img {
  border-radius: 10px;
  border: 3px solid #40489d;
  max-height: 100%;
  max-width: 300px;
  object-fit: contain;
  margin-bottom: 3px;
}

.msg-img-send-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.send-button {
  color: #2e2e2e;
  width: 250px;
  font-size: 1.25rem;
  border-radius: 1rem;
  border: 3px solid #2e2e2e;
  font-weight: bold;
  background-color: #90caf9;
  padding: 10px;
}
.upload-image-button {
  color: #2e2e2e;
  width: 250px;
  font-size: 1.25rem;
  border-radius: 1rem;
  border: 3px solid #2e2e2e;
  font-weight: bold;
  background-color: #fff;
  padding: 10px;
  text-decoration: none;
}
.form-control {
  height: 3rem;
  font-size: 1rem;
  border: 3px solid #2e2e2e;
  border-radius: 1rem;
}
.room-name {
  background-color: #fff;
  /* border: 3px solid #2e2e2e; */
  width: auto;
  font-weight: 900;
  font-size: 2rem;
  border-radius: 1rem;
  margin: 30px;
  position: relative;
  padding: 0.5rem;
}

.form-label {
  font-weight: 800;
  font-size: 1.1rem;
}
